/* CSS RESET  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  line-height: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  /* border-style: solid; */
  border-radius: 6px;
  /* margin: 200px 200px 200px 200px; */
  background-color: #1c1938;
  width: 60%;
  height: 60%;
}

.content-left {
  flex-direction: row;
  color: white;
  padding: 60px;
  align-content: flex-start;
  width: 50%;
}

.content-left #header {
  font-weight: 900;
  font-size: 25px;
  align-content: center;
  max-width: 450px;
  line-height: 1.2em;
}

.content-left #content {
  max-width: 400px;
  line-height: 1.5em;
  font-size: 14px;
  color: #d0cfdd;
}

.image-right {
  width: 50%;
  height: 100%;
}
.image-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  flex-direction: row;
  display: flex;
  margin-top: 4em;
  margin-bottom: 0.25em;
}

.footer #ten {
  margin-right: 3em;
  color: #d0cfdd;
}

.footer #three {
  margin-right: 3em;
  color: #d0cfdd;
}

.footer #twelve {
  margin-right: 3em;
  color: #d0cfdd;
}

.footer .number {
  margin-bottom: 0em;
  font-size: 20px;
  font-weight: 900;
  color: white;
  margin-top: 0.5;
}

/* Responsiev Part */
@media screen and (max-width: 1150px) {
  main {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  main {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
}
