/* CSS RESET  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  line-height: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  /* border-style: solid; */
  border-radius: 5%;
  /* margin: 200px 200px 200px 200px; */
  background-color: #1c1938;
  width: 60%;
  height: 60%;
}

.content-left {
  flex-direction: row;
  color: white;
  padding: 60px;
  align-content: flex-start;
  width: 50%;
  order: 1;
}

.content-left #header {
  font-weight: 900;
  font-size: 25px;
  align-content: center;
  max-width: 450px;
  line-height: 1.2em;
}

.content-left #content {
  max-width: 400px;
  line-height: 1.5em;
  font-size: 14px;
  color: #d0cfdd;
}
.overlay{
    position: absolute;
    background-color:  #9957c2;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    
}

.image-right {
  width: 50%;
  height: 100%;
  position: relative;
  border-radius: 5%;
  order: 2;
  
}
.image-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
img{
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.footer {
  flex-direction: row;
  display: flex;
  margin-top: 4em;
  margin-bottom: 0.25em;
}

.footer #ten {
  margin-right: 3em;
  color: #d0cfdd;
}

.footer #three {
  margin-right: 3em;
  color: #d0cfdd;
}

.footer #twelve {
  margin-right: 3em;
  color: #d0cfdd;
}

.footer .number {
  margin-bottom: 0em;
  font-size: 20px;
  font-weight: 900;
  color: white;
  margin-top: 0.5;
}

/* Responsiev Part */
@media screen and (max-width: 1150px) and (min-width: 700px) {
  main {
    
  }
  .content-left{
      padding: 30px;
  }
  .footer{
      font-size: 10px;
  }
  .image-right{
      width: fit-content;
  }
}

@media screen and (max-width: 780px) {
    body{
        margin-top: 3em;
    }
    main {
    
    flex-direction: column;
    align-items: center;
    height: fit-content;
    
  }
  .image-right{
      order: 1;
      width: 100%;
  }
  img{
    border-top-left-radius: 5%;
    border-top-right-radius: 5% ;
    border-bottom-left-radius: 0% ;
    border-bottom-right-radius: 0%;
  }
  .overlay{
    border-top-left-radius: 5%;
    border-top-right-radius: 5% ;
    border-bottom-left-radius: 0% ;
    border-bottom-right-radius: 0%;
  }
  .content-left{
      order: 2;
      width: 100%;
        padding: 30px;
  }
  p{
      text-align: center;
  }
  .footer{
      flex-direction: column;
      margin-top: 1em;
  }
 #ten {
     margin-top: 1em;
     text-align: center;
 }
 #three{
    margin-top: 1em;
 }
 #twelve{
     margin-top: 1em;

 }
 #content{
    margin-top: 1em;
 }
}

@media screen and (max-width: 700px) {
    main{
    
    }
}

