body {
    font-family: monospace;
    line-height: 1;
}


main {
   display: flex ;
   border-style: solid;
   border-radius: 6px;
   margin: 200px 200px 200px 200px;
   background-color: #1c1938;
}



.content-left{
    flex-direction: row;
    color: white;
    padding: 60px;
    align-content: flex-start;
}

.content-left #header {
    font-weight: 900;
    font-size: 25px;
    align-content: center;
    max-width: 450px;
    line-height: 1.2em;
}

.content-left #content{
    max-width: 400px;
    line-height: 1.5em;
    font-size: 14px;
    color: #d0cfdd;
}

.footer {
    flex-direction: row;
    display: flex;
    margin-top: 4em;
    margin-bottom: 0.25em;
}

.footer #ten{
    margin-right: 3em;
    color: #d0cfdd;
}

.footer #three{
    margin-right: 3em;
    color: #d0cfdd;
}

.footer #twelve{
    margin-right: 3em;
    color: #d0cfdd;
}

.footer .number{
    margin-bottom: 0em;
    font-size: 20px;
    font-weight: 900;
    color: white;
    margin-top: 0.5;
}
