* {
    margin: 0%;
    padding: 0%;
}

body {
    width: 100%;
    height: 100;
    font-family: monospace;
}

nav{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:  #74CDB8;
    display: flex;
    justify-content: flex-end;
}

nav h1 {
    text-align: left;
    font-size: 3em;
    margin-right: auto;
}

nav button {
    border-style: none;
    border-radius: 25px;
    width: 100px;
    height: 5vh;
    background-color: #fff;
    cursor: pointer;
    margin-right: 1em;
}

.name {
    background-color: #439083;
    width: 20%;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    text-align: center;
}

.Denary-to-hex-container {
    background-color: #74CDB8;
    border-radius: 25px;
    width: 75%;
    margin-left: 15%;
    height: 85vh;
    margin-top: 3%;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
}

.Denary-to-hex-container #h1 {
    background-color: #fff;
    border-radius: 25px;
    width: 60%;
    font-size: 17px;
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 10px;
    text-align: center;

}

#append-text-1 {
    background-color: #fff;
    width: 95%;
    margin-left: 5%;
    height: 13rem;
    border: black 1px solid;
}

#append-text-2 {
    background-color: #fff;
    width: 95%;
    margin-left: 5%;
    height: 13rem;
    border: black 1px solid;
    margin-top: 3%;
}

.container {
    margin-bottom: 1%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left-container #input-1 {
    margin-left: 5%;
    width: 70%;
    height: 2rem;
    margin-bottom: 5%;
}

.left-container button {
    background-color: #fff;
    height: 2rem;
    border: 1px solid black;
    width: 20%;
    cursor: pointer;
    margin-left: 1%;
}

.left-container {
    width: 100%;
    height: 100%;
}

.right-container {
    width: 100%;

}

.container1 {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.input {
    width: 100%;
}

.other-converters{
    background-color: #fff;
    border: solid 1px black;
    width: 75%;
    margin-left: 12.5%;
    height: 75%;
}

.other-converter-1{

}

.other-converters button {
    margin: 12.5%;
}

.buttons {
    margin: 12.5%;
    margin-top: 5%;
    width: 100%;

}

.buttons button {
    border-style: none;
    background-color: #fff;
    width: 75%;
    height: 3rem;
    border: 1px black solid;
}